.report-div {
    height: 15vh; 
    margin: 2.5vh; 
    padding-left: 1vw; 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.approved {
    background-color: var(--darkgreen) ;
    text-align: left;
}

.submitted {
    text-align: left;
    background-color: var(--lightblue);
}

.approved div p {
    color: white; 
    font-size: 24px;
}
.approved div h4{
    margin-top: 2vh;
    font-size: 56px;
    color: white; 
    margin-bottom: 0;
}

.submitted div p {
    color: white; 
    font-size: 24px;
}
.submitted div h4{
    margin-top: 2vh;
    font-size: 56px;
    color: white; 
    margin-bottom: 0;
}
.md.img{
    text-align: center;
}

.md.img img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-height: 100%;
    height: 100%;
    margin-top: 0px; 
}



#staff-table {
    margin: 2vh 5vw; 
    background-color: white;
}



.empty-button {
    border: none;
    background: none;
    cursor: pointer;
}



.empty-button span {
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
  }
  