.App {
  text-align: center;

}

:root{
  --errorred: #EC4832;
  --darkblue: #043448;
  --blue: #425D7D;
  --lightblue: #0097E7;
  --midnight: #2D4056;
  --grey: #938787;
  --green: #6DDB5B; 
  --red: #DB6B5B;
  --darkgreen: #009688; 
}
